.modal {
    background-color: rgba($color: #000000, $alpha: .5);
    transition: opacity .3s;
    opacity: 0;
    display: block;
    visibility: hidden;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}